<%# Users Modal - Uses Shared Modal Component %>
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <%= turbo_frame_tag "modal", data: { turbo_action: "advance", action: "turbo:frame-load->modal#show" } do %>
        <!-- Content will be dynamically loaded here via Turbo Frame -->
      <% end %>
    </div>
  </div>
</div>
